#title-home{
color: antiquewhite
}

.carousel-inner{
    width: 250em;
   
   
}

.carousel-item-active {

    display:inline-flex ; 
    position:static  ;
    justify-items: flex-start ;
    flex-direction: row ;
    align-items: flex-start;
    border-radius: 10px;
    margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
}
.card {
    width: 15rem;
    height: 35rem;
    background-color: rgb(22, 21, 21);
    color: white;
    
    margin-right: 20px ;

}
.btn-btn-primary{
    background-color: rgb(22, 21, 21);
    color: white;
    text-decoration: none;
    border: none;
    box-sizing: 14px;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5em;
    padding: 5px 10px;
    border-radius: 10px;
    position: static;
    
    

}
.btn-btn-primary:hover {
    background-color: rgb(39, 37, 37);
    
}
.estrella {
    color: rgb(241, 241, 10);
    font-size: 15px;
}
.estrella-vacia {
    color: rgb(34, 151, 219);
    font-size: 15px;
}
.calificar-pelicula {
    border: none;
    background-color:rgb(22, 21, 21);
}

.tittle {
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
   
    }


.tittle-flecha:hover {
    color: rgb(250, 250, 25);
}

.sub-tittle {
    color: rgb(167, 163, 163);
    font-family: 'Roboto',sans-serif;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 30px;

}

.pipe {
    color: rgb(211, 211, 10);
    border-radius: 2px;
    font-weight: bolder;
    font-size: 30px;
}

.plus-large{
    color: rgb(34, 151, 219);   
    font-size: 25px;
}

.btn-btn-secondary {
    color: rgb(34, 151, 219);
    font-family: 'Roboto',sans-serif;
    border-radius: 5px;
    background-color:  rgb(43, 42, 42);
    border: none;
    padding: 1px 15px;
}

.btn-btn-secondary:hover {
    background-color: rgb(70, 66, 66);
}

.imgen-container {margin: 0px;
}

.seguimiento {
    position: absolute; top: 0px;
    border: none;
    font-size: 20px;
    background-color: rgba(46, 41, 41, 0.5);
    color: white;

}
.seguimiento:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-content { background-color: rgb(22, 21, 21);
 
    font-family: 'Roboto',sans-serif;

}


.modal-titulo {   color: rgb(250, 250, 25);
margin: 138px;  
margin-top: 0px;
margin-bottom: 0px;
}

.modal-pelicula { 
    color: rgb(253, 246, 246);
}

.cerrar-boton {
    color: white;
    border: none;
    background-color: rgba(46, 41, 41, 0.0);
    width: 45px;
    height: 45px;
    border-radius: 25px;

}
.cerrar-boton:hover {
    background-color:rgb(255, 255, 255,0.5);
}

.puntuar-boton {
    background-color: rgb(250, 250, 25);
    color:rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    margin: 138px;  
    margin-top: 0px;
    margin-bottom: 0px;
    width: 500px;
    height: 50px;

}
.puntuar-boton:hover{background-color: rgb(190, 190, 15);}

.puntuar-estrella {
    color: rgb(34, 151, 219);
    font-size: 25px;
}

.modal-footer {
    margin: 30px;
    
}

.puntaje-numero {
    color:rgb(190, 190, 15) ;
}